# If you run on mac, have a global to rule these out.
#.DS_Store

/node_modules/
/build/
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/.vercel/

.vercel
.env*.local

# Created by Vercel CLI
/yarn.lock

